@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: white ;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}

html {
  --line-color: #e5e7eb !important;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2) !important;
}

.borderBlack {
  @apply border border-black/10;
}
